/* SITE FONTS */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



/* CUSTOM PROPERTYS */
:root {
    --site-font: "Roboto", "Arial", sans-serif;
    --brand-color: #ea625c;
    --text-color: #333;
    --seven-color: #777;
    --second-color: #222;
    --white-color: #fff;
    --black-color: #000;
}

/* GLOBAL STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--site-font);
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--text-color);
}
.container {
    width: 100%;
    max-width: 1040px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}