/* SITE FONTS */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



/* CUSTOM PROPERTYS */
:root {
    --site-font: "Roboto", "Arial", sans-serif;
    --brand-color: #ea625c;
    --brand-hover-color: #c9514c;
    --text-color: #333;
    --seven-color: #777;
    --second-color: #222;
    --white-color: #fff;
    --black-color: #000;
}

/* GLOBAL STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: dashed var(--brand-color) 1px;
    outline-offset: 2px;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--site-font);
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--text-color);
}
/* CONTAINER STYLES */
.container {
    width: 100%;
    max-width: 1040px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
/* INFO CONTENT STYLES */
.info-content {
    width: 100%;
    max-width: 490px;
}
.info-content-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: var(--black-color);
    margin-bottom: 30px;
}
.info-content-text {
    font-size: 16px;
    color: var(--seven-color);
    border-left: 3px solid #888;
    padding-left: 37px;
    margin-bottom: 30px;
}
.info-content-btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--brand-color);
    display: inline-block;
}
.info-content-btn:hover {
    background-color: var(--brand-hover-color);
}



/* SITE HEADER STYLES */
.site-header {
    padding: 30px 0px;
}
.site-header-container {
    display: flex;
    align-items: center;
}
.site-logo-link {
    display: flex;
    margin-right: auto;
}
.site-logo-img {
    width: 35px;
    height: 42px;
    object-fit: contain;
}
.sitenav {
    margin-right: 40px;
}
.sitenav-list {
    list-style: none;
    display: flex;
}
.sitenav-item:not(:last-child) {
    margin-right: 30px;
}
.sitenav-item a {
    font-size: 15px;
    line-height: 22.5px;
    color: var(--text-color);
    text-decoration: none;
    position: relative;
}
.sitenav-item a::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--text-color);
    position: absolute;
    bottom: -5px;
    right: 50%;
    transition: width 0.5s ease; 
}
.sitenav-item a::before {
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--text-color);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transition: width 0.5s ease; 
}
.sitenav-item a:hover::after {
    width: 51%;
}
.sitenav-item a:hover::before {
    width: 51%;
}
.site-header-input {
    width: 153px;
    font-size: 15px;
    color: #666;
    border: none;
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 3px;
    outline: none;
}
.site-header-form {
    position: relative;
}
.site-header-form::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--text-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s ease;
}
.site-header-form:hover::after {
    width: 100%;
}

/* SITE MAIN STYLES */
.site-main {
    flex-grow: 1;
}

/* INTRO SECTION STYLES */
.intro-section {
    padding-top: 140px;
    padding-bottom: 185px;
    background-image: url("../images/png/intro-bg.png");
    background-repeat: no-repeat;
    background-size: 587px 565px;
    background-position: calc(50% + 541px) bottom;
}
.intro-section-btn {
    padding: 12px 38.5px;
}


/* RETINA BGI */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .intro-section {
        background-image: url("../images/png/intro-bg@2x.png");
    }
}