/* SITE FONTS */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



/* CUSTOM PROPERTYS */
:root {
    --site-font: "Roboto", "Arial", sans-serif;
    --brand-color: #ea625c;
    --text-color: #333;
    --seven-color: #777;
    --second-color: #222;
    --white-color: #fff;
    --black-color: #000;
}

/* GLOBAL STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: dashed var(--brand-color) 1px;
    outline-offset: 2px;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--site-font);
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--text-color);
}
.container {
    width: 100%;
    max-width: 1040px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}



/* SITE HEADER STYLES */
.site-header {
    padding: 30px 0px;
}
.site-header-container {
    display: flex;
    align-items: center;
}
.site-logo-link {
    display: flex;
    margin-right: auto;
}
.site-logo-img {
    width: 35px;
    height: 42px;
    object-fit: contain;
}
.sitenav {
    margin-right: 40px;
}
.sitenav-list {
    list-style: none;
    display: flex;
}
.sitenav-item:not(:last-child) {
    margin-right: 30px;
}
.sitenav-item a {
    font-size: 15px;
    line-height: 22.5px;
    color: var(--text-color);
    text-decoration: none;
    position: relative;
}
.sitenav-item a::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--text-color);
    position: absolute;
    bottom: -5px;
    right: 50%;
    transition: width 0.5s ease; 
}
.sitenav-item a::before {
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--text-color);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transition: width 0.5s ease; 
}
.sitenav-item a:hover::after {
    width: 51%;
}
.sitenav-item a:hover::before {
    width: 51%;
}
.site-header-input {
    width: 153px;
    font-size: 15px;
    color: #666;
    border: none;
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 3px;
    outline: none;
}
.site-header-form {
    position: relative;
}
.site-header-form::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--text-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s ease;
}
.site-header-form:hover::after {
    width: 100%;
}